<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:fragment="headerfiles">
		<meta charset="UTF-8" />
		<link th:href="@{/css/base.css}" rel="stylesheet">
		<title th:text="${title}"></title>
	</head>
<body>
	
	<header id="Navigator" th:fragment = "navigator">
		    <div>
	            <a class="dropbtn" th:href="@{/}" style="text-decoration:none;color:#f2c01a">Home</a>
		    </div>
		
		    <div class="dropdown">
		    <button class="dropbtn"> Chef</button>
		     	<div class="dropdown-content" >
		        	<ul>
						<li th:each="chef : ${chefs}">
                            <a href="chef.html"
							th:href="@{'/chef' + '/' + ${chef.id}}"
							th:text="${chef.nome} + ' ' + ${chef.cognome}">Paolo Rossi</a>
						</li>
					</ul>
				</div> 	
		    </div>
		
		    <div class="dropdown">
		        <button class="dropbtn">Buffet</button>
	            <div class="dropdown-content">
		            <ul>
		                <li>
		                	<a href="#">Vegetariani</a>
			            </li>
			            <li>
				        	<a href="#">Vegani</a>
			            </li>
			            <li>
			            	<a href="#">Pesce</a>
		                </li>
			            <li>
			            	<a href="#">Carne</a>
			            </li>
			        </ul>
		       	</div>
	        </div>
		
		    <div class="dropdown">
		        <button class="dropbtn">Ingredienti</button>
	            <div class="dropdown-content">
		            <a href="#">Vegetariani</a>
		            <a href="#">Vegani</a>
		            <a href="#">Di pesce</a>
		            <a href="#">Di carne</a>
	            </div>
            </div>
        </header>
        
        <footer id="Footer" th:fragment = "footer">
            <div id="contacts">
                <h4>Contatti</h4>
                <div>
                    <p>Nome catering</p>
                    <p>Sede:
                        <br>Via Roma 141
                        <br>00176, Roma.
                    </p>
                    <p>Tel: 
                        <a href="tel:+390173291830201">+390173291830201</a>
                    </p>
                </div>
            </div>
        </footer>
</body>
</html>