<html xmlns:th="http://www.thymeleaf.org">
	<head th:fragment="headerfiles">
		<meta charset="UTF-8" />
		<link th:href="@{/css/index.css}" rel="stylesheet">
	</head>
	<body>
		 
		 <footer id="Footer" th:fragment="footer">
            <div id="contacts">
                <h4>Contatti</h4>
                <div class="textwidget custom-html-widget">
                    <p>Nome catering</p>
                    <p>Sede:
                        <br>Via Roma 141
                        <br>00176, Roma.
                    </p>
                    <p>Tel: 
                        <a href="tel:+390173291830201">+390173291830201</a>
                    </p>
                </div>
            </div>
        </footer>
		        
	</body>
</html>