body {
	margin: 0;
	-webkit-font-smoothing: antialiased;
    width: 100%;
    background-image: url("/images/sfondo.jpg");
     background-repeat: no-repeat;
    background-attachment: fixed;
}

#info {
	margin-top: 6.5%;
}

#info h1 {
	text-align: center;
    padding-top: 2%;
    font-family: "Montserrat", Arial, Tahoma, sans-serif;
}

#info strong {
	font-style: italic;
	color: green;
}

#buffet_wrapper {
	padding-bottom: 4%;
    padding-top: 4%;
    display: flex;
    justify-content: center;
}

#menu_wrapper {
	background-image:url("/images/menu.png");
	text-align:center;
    height: 423px;
    width: 300px;
    background-size:cover;
}

#menu_desc {
    padding: 4em;
    font-family: "OracleSansVF", "OracleSansVFCyGr", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", sans-serif;
    font-size: small;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: -webkit-fill-available;
    
    
}

ul {
	list-style-type: circle;
    text-align: center;
    margin: unset;
    padding: unset;
    width: fit-content;
}

#desc {
	margin:unset;
}

#piatto {
	text-decoration: none;
    color: black;
}

#piatto:hover {
	color: green;
}

.virgolette {
	color: green;
    font-style: italic;
}
