body {
	margin: 0;
	-webkit-font-smoothing: antialiased;
    width: 100%;
}

.dettagli {
    background-color: orange; 
    height: fit-content;
    text-align: center;
}

#name {
	padding-top: 1em;
	text-align: center;
    font-family: "Montserrat", Arial, Tahoma, sans-serif;
}
