body {
	margin: 0;
	-webkit-font-smoothing: antialiased;
    width: 100%;
}

header {
    text-align:left;
    background-color: orange; 
    height: fit-content;
}

#firma {
    height: 90px; 
    width: auto;
    padding-left:1em;
    padding-top: 1em;
}