body {
	margin: 0;
	-webkit-font-smoothing: antialiased;
    width: 100%;
}

.chef_wrapper {
    height: fit-content;
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    background-image: url("/images/sfondo_chef.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    min-height: 440px;
    font-family: "Montserrat", Arial, Tahoma, sans-serif;
     align-items: center;
}

#dettagli_chef {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: rgba(50,50,50,0.3);
    min-width: 35%;
    width: 100%;
    height: 440px;
}

#buffet_wrapper {
	display: flex;
	flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: white;
}

#menu_wrapper {
	background-image:url("/images/menu.png");
	text-align:center;
    height: 423px;
    width: 300px;
    background-position: center center;
    background-size:cover;
   	margin: 2.5%;
}

#menu_desc {
    padding: 4em;
    position: relative;
    font-family: "OracleSansVF", "OracleSansVFCyGr", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", sans-serif;
    font-size: small;
}

ul {
	list-style-type: none;
    text-align: center;
    margin: none;
    padding: unset;
}