body {
	margin: 0;
	-webkit-font-smoothing: antialiased;
    width: 100%;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
#Intro_wrapper {
    background-image: url("/images/spiedini2.jpeg");
    height:fit-content;
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    height: fit-content;
    color: white;
}

#title {
    padding-top: 2em;
    padding-left: 2em;
}

#content {
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 2em;
}

#main_content {
    background-color: white;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: fit-content;
}

p {
    margin: 0 0 15px;
}

#content1 {
   text-align: center;
   padding: 2em;
} 






