body {
	margin: 0;
	-webkit-font-smoothing: antialiased;
    width: 100%;
}

#amm {
	position: absolute;
    top: 35px;
    right: 20px;
    text-decoration: none;
    color: black;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
#Intro_wrapper {
    background-image: url("/images/home.png");
    height:fit-content;
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size:40;
    min-height: 440px;
}

#title {
    padding-top: 2em;
    padding-left: 2em;
}

#content {
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 2em;
}

#main_content {
    background-color: white;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: fit-content;
}

p {
    margin: 0 0 15px;
}

#content1 {
   text-align: center;
   padding: 2em;
} 

#intro_background {
	background-color: rgba(50,50,50,0.3);
}