body {
	margin: 0;
	-webkit-font-smoothing: antialiased;
    width: 100%;
}

.dettagli_wrapper {
    height: fit-content;
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    background-image: url("/images/sfondo_piatto.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    min-height: 440px;
    font-family: "Montserrat", Arial, Tahoma, sans-serif;
    align-items: center;
}

#dettagli_background {
	background-color: rgba(50,50,50,0.3);
	width: 100%;
}

#dettagli_piatto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    min-width: 35%;
    height: 440px;
}

#dettagli {
    padding-bottom: 2em;
    height: fit-content;
}

ul {
	list-style-type: none;
}

