<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="ISO-8859-1">
        <title>Amministrazione catering</title>
        <link rel="stylesheet" href="/css/administration.css" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&display=swap" rel="stylesheet">
    </head>

    <body>
        <h1>Benvenuto!</h1>
        <h3>In questa pagina potrai modificare le informazioni relative al servizio di catering</h3>
        <div>
        	<div id="button_wrapper">
				<a th:href="@{/admin/chef_management}">
				<button class="butt" id="chef">Chef management</button></a>
					
				<a th:href="@{/admin/buffet_management}">
				<button class="butt" id="buffet">Buffet management</button></a>
					
				<a th:href="@{/admin/piatto_management}">
				<button class="butt" id="piatto">Piatto management</button></a>
				
				<a th:href="@{/admin/ingrediente_management}">
				<button class="butt" id="ingrediente">Ingrediente management</button></a>
	    	</div>
        </div>
        <br>

        <div>
            <a href="/">HomePage</a>
        </div>
    </body>
</html>