<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="ISO-8859-1">
        <title>Amministrazione catering</title>
        <link rel="stylesheet" href="/css/index.css" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&display=swap" rel="stylesheet">
    </head>

    <body>
        <div>
            <ul >
                <li>
                    <a href="/amministrazione/chef_management">Chef Management</a>
                </li>
                <li>
                    <a href="/amministrazione/buffet_management">Buffet Management</a>
                </li>
                <li>
                    <a href="/amministrazione/piatto_management">Piatti Management</a>
                </li>
                <li>
                    <a href="/amministrazione/ingrediente_management">Ingredienti Management</a>
                </li>
            </ul>
        </div>
        <br>

        <div>
            <a href="/">HomePage</a>
        </div>
    </body>
</html>