<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title> UnoChef </title>
        <link rel="stylesheet" href="/css/chef.css"/>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&display=swap" rel="stylesheet">
    </head>

    <body>

        <header id="Navigator" th:fragment = "navigator">
		    <div>
	            <a class="dropbtn" href="/" style="text-decoration:none;color:#f2c01a">Home</a>
		    </div>
		
		    <div class="dropdown">
		    <button class="dropbtn">Chef</button>
		     	<div class="dropdown-content">
		        	<ul>
						<li th:each="chef : ${chefs}">
                            <a href="chef.html"
							th:href="@{'/chef' + '/' + ${chef.id}}"
							th:text="${chef.nome} + ' ' + ${chef.cognome}">Paolo Rossi</a>
						</li>
					</ul>
				</div> 	
		    </div>
		
		    <div class="dropdown">
		        <button class="dropbtn">Buffet</button>
	            <div class="dropdown-content">
		            <ul>
		                <li>
		                	<a href="#">Vegetariani</a>
			            </li>
			            <li>
				        	<a href="#">Vegani</a>
			            </li>
			            <li>
			            	<a href="#">Pesce</a>
		                </li>
			            <li>
			            	<a href="#">Carne</a>
			            </li>
			        </ul>
		       	</div>
	        </div>
        </header>
        
        <div class="chef_wrapper">
        	<div id="chef_img">
				<!--  <img th:src="${chef.imgUrl}" style="height:150px;width:auto;"/>  -->
			</div>
			<div id="dettagli_chef">
				<h3> Dettagli chef</h3>
				<div style="width:fit-content;">
					<ul>
						<li th:text="${chef.nome}">
							Nome
						</li>
						<li th:text="${chef.cognome}">
							Cognome
						</li>
						<li th:text="${chef.nazionalita}">
							nazionalita
						</li>
					</ul>
				</div>
			</div>
		</div>
			
		<section id="buffet_wrapper">
        	<div id="menu_wrapper" th:each="buffet : ${chef.buffet}">
	        	<div id="menu_desc" > 
						<h4 th:text="${buffet.nome}"> Nome buffet </h4>
						<h4 th:text="${buffet.descrizione}"> Descrizione buffet</h4>
						<!-- <a href="buffet.html" th:href="@{'/buffet' + '/' + ${buffet.id}}" >Elenco piatti</a>  -->
						<p> Questo buffet comprende i seguenti piatti: </p>
						<ul>
						<li th:each="piatto : ${buffet.piatti}">
							<a href="piatto.html"
									th:href="@{'/piatto' + '/' + ${piatto.id}}"
									th:text="${piatto.nome}">Nome piatto</a>
						</li>
					</ul>    
				</div>
			</div>
        </section>
            <!-- <ul> 
                <li th:each="buffet : ${chef.buffet}">
                    <a href="buffet.html"
					th:href="@{'/buffet' + '/' + ${buffet.id}}"
					th:text="${buffet.nome}">Nome buffet</a>
                </li>
            </ul> -->

	   <footer id="Footer" th:fragment="footer">
            <div id="contacts">
                <h4>Contatti</h4>
                <div>
                    <p>Nome catering</p>
                    <p>Sede:
                        <br>Via Roma 141
                        <br>00176, Roma.
                    </p>
                    <p>Tel: 
                        <a href="tel:+390173291830201">+390173291830201</a>
                    </p>
                </div>
            </div>
        </footer>
        
 	</body>

</html>