<html xmlns:th="http://www.thymeleaf.org">
   <head th:replace="fragments/base.html :: headerfiles(~{::title}, ~{::link})">
        <title> Catering Roma </title>
        <link href="/css/chi_siamo.css" rel="stylesheet"/>
		 <link rel="icon" type="image/png" href="/images/favicons/catering_favicon.png">
		
</head>

    <body>
    
		<header th:replace="fragments/base.html :: navigator">
		</header> 
		
		<div id="Intro_wrapper">
	        <div id="intro_background">
	            <div id="title">
	            “LA NOSTRA SFIDA È QUELLA DI ISPIRARE QUANTE PIÙ PERSONE A CONSIDERARE IL PROPRIO IMPATTO SUL MONDO ATTRAVERSO SCELTE QUOTIDIANE.
				A MAGGIOR RAGIONE QUANDO SI PARLA DI ALIMENTAZIONE"
	            </div>
	        </div>
        </div>

        <div id="content">
        	<p>La nostra idea è quella di portare nei piatti i concetti di biodiversità, di filiera corta, di stagionalità e di territorialità nonché rispetto per chi produce il cibo che consumiamo ogni giorno, perché siamo fermamente convinte che il cibo è cultura, benessere, piacere, il racconto di un popolo, di una terra, l'integrazione di storie diverse.</p>

            <p>Da qui la scelta di  utilizzare in stretta sinergia la filiera del biologico e quella del commercio equo e solidale, con l’intento di agevolare l’incontro tra consumatori e produttori locali o provenienti da paesi in via di sviluppo, diffondere conoscenze ed esperienze in merito a nuovi stili di vita e di sviluppo improntati a maggiore sobrietà, un più equilibrato uso delle materie prime, una più equa distribuzione delle risorse e della ricchezza, nonché più rispetto della salute delle persone, degli animali e dell’ambiente.</p>    

			<p>Per i nostri allestimenti utilizziamo esclusivamente prodotti biodegradabili e compostabili al 100% in Mater-Bi nonché tessuti in juta naturale e preferiamo all’utilizzo di acque in bottiglia quello dell’acqua di rubinetto in adesione alla campagna “Acqua bene comune dell’umanità: diritto di tutti”.</p>
        </div>
        
        <div id="section_wrapper">
        	<div class="prop">
        		<div class="icon" id="icon1">
        		</div>
        		<div class="desc">
        		<h5>BIO</h5>
        			<p>
        			Materie prime  fresche, sane e buone e che hanno conservato tutti i propri principi nutritivi.
        			</p>
        		</div>
        	</div>
        	
        	<div class="prop">
        		<div class="icon" id="icon2">
        		</div>
        		<div class="desc">
        		<h5>BIODIVERSITA' </h5>
        			<p>È sinonimo di ricchezza, di varietà, della coesistenza di svariate forme di vita, non etichettate come migliori o peggiori, normali o anormali, belle o brutte, ma tutte utili e selezionate nel corso dei millenni.</p>
        		</div>
        	</div>
        	
        	<div class="prop">
        		<div class="icon" id="icon3">
        		</div>
        		<div class="desc">
        		<h5>ECOSOSTENIBILITA' </h5>
        		<p>Plastic free per i nostri allestimenti, bensì tessuti in juta naturale e stoviglie fatte di mater b, inoltre trasporto con veicoli a metano per un minore impatto ambientale.</p>
        		</div>
        	</div>
        	
        	<div class="prop">
        		<div class="icon" id="icon4">
        		</div>
        		<div class="desc">
        		<h5>EQUOSOLIDALE </h5>
        		<p>Utilizziamo   inoltre prodotti all interno del circuito del commercio equo e solidale con l'obbiettivo di diffondere un più equilibrato uso delle materie prime ed una più equa distribuzione delle risorse.</p>
        		</div>
        	</div>
        	
        	<div class="prop">
        		<div class="icon" id="icon5">
        		</div>
        		<div class="desc">
        		<h5>STAGIONALITA' </h5>
        		<p>Solo rispettando le stagioni si potrà assaporare il vero gusto dei prodotti scelti da madre natura per quel periodo dell'anno.</p>
        		</div>
        	</div>
        	
        	<div class="prop">
        		<div class="icon" id="icon6">
        		</div>
        		<div class="desc">
        		<h5>TERRITORIALITA' </h5>
        		<p>L'impegno di promuovere prodotti del territorio ci rende orgogliosi delle nostre radici e vogliosi di far conoscere vecchie tradizioni e rivisitazioni in chiave moderna.</p>
        		</div>
        	</div>
        	
        	<div class="prop">
        		<div class="icon" id="icon7">
        		</div>
        		<div class="desc">
        		<h5>FILIERA CORTA KM0 </h5>
        		<p>Perché la coltivazione avviene nel pieno rispetto delle caratteristiche specifiche di ogni territorio.</p>
        		</div>
        	</div>
        	
        	<div class="prop">
        		<div class="icon" id="icon8">
        		</div>
        		<div class="desc">
        		<h5>FORNITORI </h5>
        		<p>Fornitori appartenenti a gruppi di acquisto solidali.</p>
        		</div>
        	</div>
        	
        </div>
        
        <footer th:replace="fragments/base.html :: footer"></footer> 

    </body>
</html>