<html xmlns:th="http://www.thymeleaf.org">
   <!-- <head th:replace="fragments/base.html :: headerfiles">  --> 
   <head>
        <title> Catering Roma </title>
        <link rel="stylesheet" href="/css/index.css" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&display=swap" rel="stylesheet">
    </head>

    <body>
        <header id="Navigator" th:fragment = "navigator">
		    <div>
	            <a class="dropbtn" href="/" style="text-decoration:none;color:#f2c01a">Home</a>
		    </div>
		
		    <div class="dropdown">
		    <button class="dropbtn"> Chef</button>
		     	<div class="dropdown-content" >
		        	<ul>
						<li th:each="chef : ${chefs}">
                            <a href="chef.html"
							th:href="@{'/chef' + '/' + ${chef.id}}"
							th:text="${chef.nome} + ' ' + ${chef.cognome}">Paolo Rossi</a>
						</li>
					</ul>
				</div> 	
		    </div>
		
		    <div class="dropdown">
		        <button class="dropbtn">Buffet</button>
	            <div class="dropdown-content">
		            <ul>
		                <li>
		                	<a href="#">Vegetariani</a>
			            </li>
			            <li>
				        	<a href="#">Vegani</a>
			            </li>
			            <li>
			            	<a href="#">Pesce</a>
		                </li>
			            <li>
			            	<a href="#">Carne</a>
			            </li>
			        </ul>
		       	</div>
	        </div>
        </header>
	
		<!-- <header th:replace="fragments/base.html :: navigator"></header> -->
		
        <div id="Intro_wrapper" style="font-size:40">
            <div id="title">CATERING ROMA</div>
            <div id="content">
                <ul>
                    <li>
                        BIOLOGICO
                    </li>
                    <li>
                        ECOSOSTENIBILE
                    </li>
                    <li>
                        EQUOSOLIDALE
                    </li>
                </ul>
            </div>
        </div>

        <div id="main_content">
            <h1> CATERING ROMA </h1>
            <h2>Servizio Catering Roma Biologico Ecosostenibile e Equosolidale</h2>
            <div id="content1">
                <p>Il <strong>Catering Roma</strong> – è il primo <strong>catering a Roma biologico ecosostenibile ed equosolidale.</strong>
                    La nostra attività principale è quella di fornire un <strong>servizio catering Roma</strong> basato esclusivamente su prodotti 
                    provenienti dalla filiera del biologico a Km0 e del commercio equo e solidale. I produttori da cui ci forniamo sono produttori 
                    conosciuti e testati all’interno di G.A.S. locali. In questo modo riusciamo ad abbattere le intermediazioni e i costi. 
                </p>
                
	             <div>
					<a th:href="@{/chefs}">Elenco chef</a> 
					<a th:href="@{/amministrazione}">Amministratore</a> 
				</div>
        	</div>
        </div>
        
       <footer id="Footer">
            <div id="contacts">
                <h4>Contatti</h4>
                <div>
                    <p>Nome catering</p>
                    <p>Sede:
                        <br>Via Roma 141
                        <br>00176, Roma.
                    </p>
                    <p>Tel: 
                        <a href="tel:+390173291830201">+390173291830201</a>
                    </p>
                </div>
            </div>
        </footer> 
        
        <!--  <footer th:replace="fragments/base.html :: footer"></footer> -->

    </body>
</html>