<html xmlns:th="http://www.thymeleaf.org">
   <head th:replace="fragments/base.html :: headerfiles(~{::title}, ~{::link})">
        <title> Catering Roma </title>
        <link href="/css/index.css" rel="stylesheet"/>
        <link rel="icon" type="image/png" href="/images/favicons/catering_favicon.png">
    </head>

    <body>
    
		<header th:replace="fragments/base.html :: navigator">
		</header> 
		
		<div id="Intro_wrapper">
	        <div id="intro_background">
	            <div id="title">CATERING ROMA</div>
	            <div id="content">
	                <ul>
	                    <li id="s">
	                        <span>S</span>APORI
	                    </li>
	                    <li id="i">
	                        <span>I</span>NNOVAZIONE
	                    </li>
	                    <li id="w">
	                        <span>W</span>ORLDWIDE CHEFS
	                    </li>
	                </ul>
	            </div>
	        </div>
        </div>

        <div id="main_content">
            <h1> CATERING ROMA </h1>
            <h2>Servizio Catering Roma</h2>
            <div id="content1">
                <p>Il <strong>Catering Roma</strong> è il primo servizio di catering a Roma biologico ecosostenibile ed equosolidale.
                    La nostra attività principale è quella di fornire un <strong>servizio catering Roma</strong> basato esclusivamente su prodotti 
                    provenienti dalla filiera del biologico a Km0 e del commercio equo e solidale. 
                </p>
                
                <p>
                	Altra caratteristica fondamentale dei nostri catering a Roma, conseguente e necessaria alla scelta del biologico, è la 
                	stagionalità dei prodotti. Il tutto si traduce in una variegata scelta dei nostri menù che cambiano in continuazione per 
                	poter offrire sempre piatti freschi con prodotti di stagione. Inoltre, l'abilità dei nostri Chef, con un'esperienza pluriennale in 
                	ristoranti gourmet di Roma, rende i nostri<strong> piatti di livello superiore.</strong>
                </p>
             
        	</div>
        	
        	<div id="content2">
        	
	        	<div class="wrap">
        			<div class="column">
        				<div class="zoom_box">
        					<div class="photo">
        						<img src="/images/azienda.jpg">
        						<div class="overlay">
								    <div class="text">
								    	<p>Catering</p>
								    	<p>Aziendali</p>
								    </div>
								 </div>
        					</div>
        				</div>
        			</div>
        			<div class="column">
        				<div class="column">
        					<p><strong>CATERING AZIENDALI</strong></p>
        					<p></p>
						Siamo specializzati in <strong>Catering Aziendali</strong>, che si tratti di <strong>coffee break</strong>, <strong>lunch buffet e light lunch</strong>. Fai una scelta responsabile verso l'ambiente e la biodiversità!<p></p>
						</div>
					</div>
				</div>
				
				
				<div class="wrap">
        			<div class="column">
        				<div class="zoom_box">
        					<div class="photo">
        						<img src="/images/matrimonio.jpeg">
        						<div class="overlay">
								    <div class="text">
								    	<p>Catering</p>
								    	<p>Matrimoni</p>
								    </div>
								 </div>
        					</div>
        				</div>
        			</div>
        			<div class="column">
        				<div class="column">
        					<p><strong>CATERING MATRIMONI</strong></p>
        					<p></p>
							Definiamo i nostri matrimoni "non convenzionali", allontanandoci dai canoni classici con i nostri <strong> Catering Matrimoni</strong>!<p></p>
						</div>
					</div>
				</div>
				
				
				<div class="wrap">
        			<div class="column">
        				<div class="zoom_box">
        					<div class="photo">
        						<img src="/images/battesimo.jpg">
        						<div class="overlay">
								    <div class="text">
								    	<p>Rinfresco</p>
								    	<p>Battesimo</p>
								    </div>
								 </div>
        					</div>
        				</div>
        			</div>
        			<div class="column">
        				<div class="column">
        					<p><strong>RINFRESCO BATTESIMO</strong></p>
        					<p></p>
						Festeggia questo giorno speciale con il nostro <strong>Rinfresco Battesimo</strong>, per renderlo memorabile a tutti coloro che parteciperanno.<p></p>
						</div>
					</div>
				</div>
				
				
				<div class="wrap">
        			<div class="column">
        				<div class="zoom_box">
        					<div class="photo">
        						<img src="/images/domicilio.jpg">
        						<div class="overlay">
								    <div class="text">
								    	<p>Catering </p>
								    	<p>Domicilio</p>
								    </div>
								 </div>
        					</div>
        				</div>
        			</div>
        			<div class="column">
        				<div class="column">
        					<p><strong>CATERING A DOMICILIO</strong></p>
        					<p></p>
							Dovrai solo rilassarti, con il <strong>catering a domicilio</strong> penseremo a tutto noi, per un evento a casa indimenticabile!<p></p>						
						</div>
					</div>
				</div>
        
        </div>
        </div>
        
        
        
        <footer th:replace="fragments/base.html :: footer"></footer> 

    </body>
</html>