<html xmlns:th="http://www.thymeleaf.org">
   <head th:replace="fragments/base.html :: headerfiles(~{::title}, ~{::link})">
        <title> Catering Roma </title>
        <link href="/css/index.css" rel="stylesheet"/>
        <link rel="icon" type="image/png" href="/images/favicons/catering_favicon.png">
    </head>

    <body>
    
		<header th:replace="fragments/base.html :: navigator">
		</header> 
		
		<div id="Intro_wrapper">
	        <div id="intro_background">
	            <div id="title">CATERING ROMA</div>
	            <div id="content">
	                <ul>
	                    <li>
	                        BIOLOGICO
	                    </li>
	                    <li>
	                        ECOSOSTENIBILE
	                    </li>
	                    <li>
	                        EQUOSOLIDALE
	                    </li>
	                </ul>
	            </div>
	        </div>
        </div>

        <div id="main_content">
            <h1> CATERING ROMA </h1>
            <h2>Servizio Catering Roma Biologico Ecosostenibile e Equosolidale</h2>
            <div id="content1">
                <p>Il <strong>Catering Roma</strong> è il primo <strong>catering a Roma biologico ecosostenibile ed equosolidale.</strong>
                    La nostra attività principale è quella di fornire un <strong>servizio catering Roma</strong> basato esclusivamente su prodotti 
                    provenienti dalla filiera del biologico a Km0 e del commercio equo e solidale. I produttori da cui ci forniamo sono produttori 
                    conosciuti e testati all’interno di G.A.S. locali. In questo modo riusciamo ad abbattere le intermediazioni e i costi. 
                </p>
                
	            <div>
	         	    <a th:href="@{/login}">Login amministratore</a> 
				</div>
        	</div>
        </div>
        
        <footer th:replace="fragments/base.html :: footer"></footer> 

    </body>
</html>