<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title> Buffet Management </title>
        <link rel="stylesheet" href="/css/management.css" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&display=swap" rel="stylesheet">
        <link rel="icon" type="image/png" href="/images/favicons/management_favicon.png">
    </head>
    
	<body>
		<header>
			<h1>Elenco dei buffet</h1>
		</header>

		<div id="create_wrapper">
			<a th:href="@{/admin/buffet_management/create_buffet}">
				<button class="butt" id="create">Add buffet</button>
			</a>
		</div>

		<table>
			<tr>
				<th>Nome</th>
				<th>Descrizione</th>
				<th id="op1">Operazioni</th>
			</tr>
			<tr th:each="buffet: ${buffets}">
				<td th:text="${buffet.nome}">Nome</td>
				<td th:text="${buffet.descrizione}">Descrizione</td>
			 	<td>
			 		<a th:href="@{/admin/buffet_management/edit_buffet/{id}(id=${buffet.id})}">
						<button type="submit" class="butt" id="update">Update</button>
					</a>
					<a th:href="@{/admin/buffet_management/delete_buffet/{id}(id=${buffet.id})}"
						th:data-confirm-delete="|Sei sicuro di voler eliminare il buffet ${buffet.nome}?|"
						onclick="if (!confirm(this.getAttribute('data-confirm-delete'))) return false">
						<button class="butt" id="delete">Delete </button>
					</a>
					<a th:href="@{/admin/buffet_management/buffet_details/{id}(id=${buffet.id})}">
						<button class="butt" id="details">Details </button>
					</a>
				</td>
			</tr>
		</table>
		
		<div id="back_wrapper">
			<a th:href="@{/admin}">
				<button class="butt" id="back">Back </button>
			</a>
		</div>
	</body>
</html>