<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title> ingrediente Management </title>
        <link rel="stylesheet" href="/css/management.css" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&display=swap" rel="stylesheet">
    </head>
    
	<body>

		<header>
			<h1>Elenco degli ingredienti</h1>
		</header>

		<div id="create_wrapper">
			<a th:href="@{/admin/ingrediente_management/create_ingrediente}">
				<button class="butt" id="create">Add ingrediente</button>
			</a>
		</div>
	
		<table>
			<tr>
				<th>Nome</th>
				<th>Origine</th>
				<th>Descrizione</th>
				<th>Operazioni</th>
			</tr>
			<tr th:each="ingrediente: ${ingredienti}">
				<td th:text="${ingrediente.nome}">Nome</td>
			  	<td th:text="${ingrediente.origine}">Origine</td>
				<td th:text="${ingrediente.descrizione}">Descrizione</td>
			 	<td>
			 		<a th:href="@{/admin/ingrediente_management/edit_ingrediente/{id}(id=${ingrediente.id})}">
						<button type="submit" class="butt" id="update">Update</button>
					</a>
					<a th:href="@{/admin/ingrediente_management/delete_ingrediente/{id}(id=${ingrediente.id})}">
						<button class="butt" id="delete">Delete </button>
					</a>
				</td>
			</tr>
		</table>
	
		<div>
	        <a th:href="@{/admin}">Back</a>
		</div>

	</body>
</html>